In [17]:
import pandas as pd
import numpy as np

In [39]:
glow_pubs = pd.read_csv("glow_publications.csv", escapechar = "\\")
cdli_pubs = pd.read_csv("publications.csv")
glow_pubs_provs = pd.read_csv("glow_proveniences_publications.csv")
glow_provs = pd.read_csv("glow_proveniences.csv")

C:\Users\Circle\AppData\Local\Temp/ipykernel_39084/1139145314.py:2: DtypeWarning: Columns (2,3,5,7,8,11,12,17,19,20,21,22,23,25) have mixed types. Specify dtype option on import or set low_memory=False.
  cdli_pubs = pd.read_csv("publications.csv")

In [23]:
glow_pubs = glow_pubs[glow_pubs["book_title"].notna()].reset_index()
cdli_pubs = cdli_pubs[cdli_pubs["book_title"].notna()].reset_index()

In [28]:
glow_pubs_provs

,id,site_id,publication_short_title,exact_reference,publication_no,publication_type,publication_id
0,861,ABY,Amélineau 1899-1905,"186 [33], pl. XVI [59]",NaN,NaN,NaN
1,862,ADA,Salvini 2008a,212,NaN,NaN,NaN
2,863,ADB,Bryce 2009,61,NaN,NaN,NaN
3,864,AGR,Bryce 2009,9-10,NaN,NaN,NaN
4,865,AHT,Salvini 2008a,"214, 236",NaN,NaN,NaN
...,...,...,...,...,...,...,...
838,1728,NGN,Koldewey 1887,403,NaN,NaN,NaN
839,1729,NIP,Gibson 1978,NaN,NaN,NaN,NaN
840,1730,NRB,Frankfort 1936,74-100,NaN,NaN,NaN
841,1731,OJA,Salvini 1998c,NaN,NaN,NaN,NaN
842,1732,SAP,Reade 1986,NaN,NaN,NaN,NaN

In [26]:
glow_pubs.merge(cdli_pubs, 'inner', on = "book_title")

,level_0,index_x,short_title,zotero_id,bibtexkey_x,author,year_x,book_title,title_x,index_y,...,pages,publisher,school,title_y,volume,publication_history,series,oclc,accepted_by,accepted
0,113,165,Gurney 1977,82TPATMB,NaN,"Gurney, Oliver R.",1977,Essays on the Ancient Near East in Memory of J...,Inscribed Cylinders and Cylinder Fragments in ...,259,...,155-157,"Archon Books: Hamden, Connecticut",NaN,Amar-Su&rsquo;ena and the Historical Tradition,NaN,NaN,NaN,NaN,820,1
1,224,317,Potts 2010,3C8JXUE3,NaN,"Potts, Daniel T.",2010,From the Foundations to the Crenellations. Ess...,Elamite Temple Building,306,...,49-70,Ugarit-Verlag: M&uuml;nster,NaN,Elamite Temple Building,366,NaN,AOAT,NaN,820,1

### There seems to be only one provenience-publication link in Rune's data that exists in the CDLI catalogue

In [34]:
glow_pubs.merge(cdli_pubs, 'inner', on = "title").loc[0, "short_title"]

'Potts 2010'

In [36]:
glow_pubs_provs[glow_pubs_provs["publication_short_title"] == 'Potts 2010']

,id,site_id,publication_short_title,exact_reference,publication_no,publication_type,publication_id
779,1664,CPW,Potts 2010,NaN,NaN,NaN,NaN

In [46]:
# But there's actually no such provenience called "CPW"!
glow_provs[glow_provs["site_id"] == "CPW"]

Empty DataFrame
Columns: [site_id, cdli_id, anc_name]
Index: []